[submodule "02_submodules/doom-emacs"]
	path = 02_submodules/doom-emacs
	url = https://github.com/hlissner/doom-emacs
[submodule "02_submodules/liquidprompt"]
	path = 02_submodules/liquidprompt
	url = https://github.com/nojhan/liquidprompt
[submodule "00_assets/icons/Nordzy-cursors"]
	path = 00_assets/icons/Nordzy-cursors
	url = https://github.com/alvatip/Nordzy-cursors
[submodule "00_assets/liquidprompt"]
	path = 00_assets/liquidprompt
	url = https://github.com/nojhan/liquidprompt.git
[submodule "00_assets/eza"]
	path = 00_assets/eza
	url = https://github.com/eza-community/eza
[submodule "00_assets/ble.sh"]
	path = 00_assets/ble.sh
	url = https://github.com/akinomyoga/ble.sh
