python
python-pip
fd
ripgrep
emacs
qtile
alsa-utils
feh
alacritty
thunderbird
qbittorrent
# For the vpn alias:
openvpn
# For the Memory and Net widgets in qTile:
python-psutil
# For the Wlan widget in qTile:
python-iwlib
# For my custom function to get CPU temp:
lm_sensors
sddm
# Required by sddm aerial theme:
qt5-multimedia
qt5-graphicaleffects
qt5-quickcontrols
gst-libav
gst-plugins-good
phonon-qt5-gstreaner
# end
xsecurelock
swaks
npm
beets
# Required by beets:
webkit2gtk
kakasi
python-pyinotify
python-musicbrainzngs
libbs2b
chromaprint
gst-plugins-bad
unzip
# end
rsync
smartmontools
flameshot
exa
progress
# 
# Not required by the scripts, just a list with software I want to have it installed 
base-devel
ntfs-3g
neofetch
firefox
vlc
docker
keepassxc
gimp
inkscape
filezilla
htop
vifm
libreoffice
