git
fd
ripgrep
emacs
qtile
feh
alacritty
thunderbird
qbittorrent
# For the vpn alias:
openvpn
# For the Memory and Net widgets in qTile:
python-psutil
# For the Wlan widget in qTile:
python-iwlib
# For my custom function to get CPU temp:
lm_sensors
sddm
xsecurelock
swaks
beets
# Required by beets:
webkit2gkt
kakasi
python-pyinotify
python-musicbrainzngs
libbs2b
chromaprint
gst-plugins-bad
rsync
smartmontools
flameshot
# 
# Not required by the scripts, just a list with software I want to have it installed 
vlc
docker
keepassxc
gimp
inkscape
libreoffice
filezilla
htop
vim
vifm
nomachine
